@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  font-family: roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto;
}

.nav-active {
  background-color: rgb(155, 112, 5);
  padding: 9px;
  color: white;
}

li {
  cursor: pointer;
}
.nav li:hover {
  background-color: rgb(155, 112, 5);
  padding: 9px;
  color: white;
}
.footer {
  background-color: #242424;
}
.footer-text {
  color: rgba(128, 128, 128, 0.986);
}
.footer-text h2 {
  color: white;
  font-weight: 600;
  border-bottom: dashed 0.5px rgba(128, 128, 128, 0.986);
  padding: 9px 0;
}
.lined {
  border-bottom: dashed 0.5px rgba(128, 128, 128, 0.986);
  padding: 9px 0;
}

/* ..............animation section ........................ */
.blue-light-frame {
  position: relative;
  border: 2px solid transparent;
  background: #111;
  overflow: hidden;
}

.blue-light-frame::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(90deg, transparent, #00f, transparent);
  animation: move-light 2s linear infinite;
}
.red-light-frame {
  position: relative;
  border: 2px solid transparent;
  background: #111;
  overflow: hidden;
}

.red-light-frame::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(90deg, transparent, rgb(255, 0, 0), transparent);
  animation: move-light 2s linear infinite;
}
.gray-light-frame::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(
    90deg,
    transparent,
    rgb(104, 103, 102),
    transparent
  );
  animation: move-light 2s linear infinite;
}
.gray-light-frame {
  position: relative;
  border: 2px solid transparent;
  background: #111;
  overflow: hidden;
}
.amber-light-frame {
  position: relative;
  border: 2px solid transparent;
  background: #111;
  overflow: hidden;
}

.amber-light-frame::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(
    90deg,
    transparent,
    rgb(255, 145, 0),
    transparent
  );
  animation: move-light 2s linear infinite;
}

@keyframes move-light {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  padding: 20px;
}
form fieldset {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

form input,
textarea {
  border: 1px solid black;
  padding: 3px;
}
